{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}Car
Details Page{% endblock title %} {% block content %}

<div class="d-flex mt-3">
  <div class="col-6" >
    <img style='width:70%' src="{{ carmodel.Image.url }}" class="card-img-top" alt="..." />
  </div>

  <div class="col-6 >
    
   
      <div class="card mx-2">
        <div class="card-body">
          <h6><span class='fw-bold' >Car Price  : </span> {{carmodel.Price}}</h6>
          <h6><span class='fw-bold' >Car Name : </span> {{carmodel.Name}}</h6>
          <h6><span class='fw-bold' >Quantity : </span>  {{carmodel.Quantity}}</h6>
          <h6><span class='fw-bold' >Brand Name :  </span> {{carmodel.BrandName.name}}</h6>
          <p><span class='fw-bold' >Description : </span>  {{carmodel.Description}}</p>
          
          {% if request.user.is_authenticated %}
          <form method="post" action="{% url 'buy_now' carmodel.id %}">
              {% csrf_token %}
              <button type="submit" class='btn btn-primary fw-bold text-white'>Buy Now</button>
          </form>
        {% endif %}
        </div>
      </div>
    </div>
  
</div>
<hr >
 <div class="card">
  <div class="card-body">
    <h2>Total Comments : {{comment | length}}</h2>
  </div>
</div> 

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
  {% for com in comment %}
    <div class="col mb-4">
      <div class="card mx-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class='fw-bold'>Commenter Name :</span>{{com.Name}}</li>
          <li class="list-group-item"><span class='fw-bold'>Comments :</span>{{com.Body}}</li>
          <li class="list-group-item"><span class='fw-bold'>Email :</span>{{com.Email}}</li>
          <li class="list-group-item"><span class='fw-bold'>Created Date :</span>{{com.CreatedDate}}</li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>



<div class="card">
  <div class="card-body">
   <form action="" method="post" novalidate>

    {% csrf_token %}
    {{ comment_form | crispy }}
    <button class='btn btn-info fw-bold text-white'>Submit</button>
   </form>
  </div>
</div>




{% endblock content %}
